*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.git
.idea
.nyc_output/
.travis.yml
deplokay.json
renovate.json
.DS_Store
.npmignore
.gitignore
jest.config.js
webpack.config.js
tslint.json
tsconfig.json

CHANGELOG.md
coverage
local
node_modules
test
typings
