*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.git
.idea
.nyc_output/
.travis.yml
deplokay.json

.DS_Store
.npmignore
.gitignore
webpack.config.js
tslint.json
tsconfig.json

coverage
local
node_modules
test
typings
