*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.DS_Store

.git
.idea
.github
coverage
local
node_modules
test

.gitignore
.npmignore
CHANGELOG.md
eslint.config.mjs
jest.config.js
README.md
tsconfig.jest.json
tsconfig.json
